

.about-us-title {

  margin-bottom: 2rem !important;
}

.about-us-experience {

  margin-top: 6rem !important;
}

.speciality-section {

  padding-bottom: 4.28rem !important;
}

.brand {

  margin-top: -2rem !important;
}

.brand img {

  height: 5.356rem !important;
}

.previous-projects {

  height: 360px;
}

.intro-slider-title {

  color: white !important;
}

.about-us-margin {

  margin-right: 0;
}

.custom-footer {

  padding: 4.28rem 2rem 10.28rem 2rem !important;
}
